.description {
    background: #111;
    min-height: 100vh;
  }
  
  .desctiption__bottom {
    max-width: 1400px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
  }
  
  .desctiption__bottomLeft {
    position: relative;
    display: flex;
    gap: 20px;
    flex: 1;
  }
  
  .desctiption__bottomLeft::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    right: 4%;
    background-color: grey;
  }
  
  .desctiption__bottomLeft > img {
    width: 156px;
    height: 244px;
    object-fit: contain;
  }
  
  .des__bottomLeftText {
    color: white;
  }
  
  .desctiption__bottomRight > h2 {
    color: white;
  }
  
  .desctiption__bottomRight > p {
    color: white;
    max-width: 500px;
    width: 100%;
  }
  
  .des__bottomDetails {
    color: gray;
  }
  
  .des__bottomDetails > span {
    color: white;
  }


  /* banner */

  .banner {
    color: white;
    object-fit: contain;
    height: 448px;
  }
  
  .banner__content {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
  }
  
  .banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
  }
  
  .banner__description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px;
  }
  
  .banner__button {
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    background-color: rgba(51, 51, 51, 0.5);
  }
  
  .banner__button:hover{
      color: black;
      background-color: #e6e6e6;
      transition: all 0.2s;
  }
  
  .banner--fade-Bottom{
      height: 16.4rem;
      background-image: linear-gradient(
          180deg,
          transparent,
          rgba(37,37,37,0.61),
          #111
          );
  }
  

  @media (max-width: 1024px){
    .desctiption__bottom{
      flex-direction: column;
      gap: 40px;
    }

    .desctiption__bottomLeft::after{
      display: none;
    }

    .desctiption__bottomRight > p{
      max-width: fit-content;
    }
  }


  @media (max-width: 425px){
    .banner__description{
      display: none;
    }

    .banner__content{
      padding-top: 396px;
      margin-left: 10px;
    }
    
    .banner__title{
      display: none;
    }

    .desctiption__bottomLeft > img{
      display: none;
    }
  }
